.main {
  color: #fff;
  background-color: black;
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selector {
  overflow-y: scroll;
  width: 18%;
  background-color: rgb(24, 24, 24);
  padding: 0rem;
  height: 100%;
}
.panel {
  width: 700px;
  height: 500px;
  background-color: white;
  position: relative;
}
.dice {
  cursor: pointer;
  height: 60px;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) rotateZ(45deg);
  border: 7px solid black;
  background-color: rgb(51, 51, 51);
  padding: 1.5rem;
  /* border-radius: 50%; */
  /* transform: rotate(45deg); */
}
.dice::after {
  content: "";
  position: absolute;
  inset: 8px;
  border: 8px solid grey;
  background-color: #fff;
}
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal textarea {
  margin-bottom: 2rem;
  border: none;
  outline: none;
  background-color: #222;
  color: #fff;
  line-height: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  width: 50vw;
  border-radius: 5px;
}
.close {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  border: none;
  border-radius: 50%;
  background-color: rgb(224, 224, 224);
  height: 38px;
  aspect-ratio: 1;
  transition: all 0.2s ease;
}
.close:hover {
  background-color: white;
}
.close::after,
.close::before {
  transition: all 0.2s ease;
  position: absolute;
  content: "";
  background: rgb(0, 0, 0);
  height: 25px;
  width: 5px;
  border-radius: 2px;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modalbox {
  position: relative;
  box-shadow: 0 0 20px rgb(53, 53, 53);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 2rem;
}
.controller {
  background-color: rgb(24, 24, 24);
  width: 25%;
  height: 100vh;
}
.controllpanel {
  width: 100%;
  height: 87vh;
  overflow-y: scroll;
  border-bottom: 3px solid rgb(73, 73, 73);
}
.downloadpanel {
  width: 100%;
  height: 13vh;
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.downloadbutton {
  letter-spacing: 0.2rem;
  box-shadow: 0 0 5px #8e04aa;
  cursor: pointer;
  border: 3px solid #8e04aa;
  border-radius: 5px;
  background: #8e04aa;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  color: white;
  transition: all 0.5s ease-in-out;
}
.downloadbutton:hover{
  background: transparent;
  color: #8e04aa;
}
.listitem {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: 0 0 45px rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  margin: 0.8rem;
  border-radius: 5px;
  padding: 3rem;
}
.selecteditem {
  box-shadow: 0 0 0 10px rgb(117, 236, 236) inset;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
.title {
  /* background-color: rgb(94, 94, 94); */
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.9rem;
  line-height: 1.15;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
}
.title span {
  color: azure;
}
.colorcontainer {
  overflow: visible;
  position: relative;
  display: flex;
  width: 95%;
  align-items: center;
  margin: 0.5rem;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: rgb(73, 73, 73);
}
.colorcontainer h4 {
  margin-left: 1rem;
  flex: 1;
}
.colorcontainer span {
  background-color: black;
  border-radius: 5px;
  height: 30px;
  aspect-ratio: 1;
  cursor: pointer;
}
.block {
  z-index: 999;
  position: absolute;
  top: 60px;
  left: 5px;
}
.slidercontainer {
  width: 90%;
  margin: 1rem;
}
.inputcontrols {
  position: relative;
  display: flex;
  align-items: center;
}
.sliderbutton {
  font-family: cursive;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(66, 66, 66);
  height: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(119, 119, 119);
  transition: all 0.3s ease;
}
.sliderbutton:hover {
  background-color: rgb(51, 51, 51);
  color: rgb(233, 233, 233);
}
.slider {
  background-color: yellow;
  position: relative;
  margin-inline: 1rem;
  margin-block: 2rem;
  flex: 1;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s ease-in-out;
  transition: opacity 0.2s ease;
}
.slider::after {
  cursor: pointer;
  transition: all 0.2s ease;
  content: "";
  border-radius: 50%;
  position: absolute;
  left: var(--x);
  height: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  background-color: rgb(255, 0, 234);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  /* background: pink; */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
.radiocontainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.radio {
  cursor: pointer;
  flex: 1;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 4px solid rgba(4, 182, 226, 0.562);
  border-radius: 10px;
  display: grid;
  place-items: center;
}
.radio1,
.radio2 {
  margin: 0.5rem 0 1rem 0;
  height: 20px;
  aspect-ratio: 1;
  border: 2px solid white;
  border-radius: 50%;
}
.addbtn {
  width: 90%;
  border: none;
  background-color: black;
  color: grey;
  margin-inline: 1rem;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
